{% extends 'layout.html' %}

{% block body %}
<div style="text-align: center; width: 1100px; height: 500px; margin-top: 150px; margin-left: 15%; border-style: outset;" >
    <div style="width: 800px; height: 500px; ">
        <h3 style="margin-left:23%; margin-top: 15px;"><b>Veri Temizleme</b></h3>
        <br>
        <div style="margin-left:20%;">
            <label class="btn btn-warning" style="width: 500px; height: 40px;">
               Yapmak istediğiniz işlemleri seçiniz.
            </label>
            
        </div><br>
        
        <div style="width: 800px; height: 100px; margin-left: 130px;" id="describe" name="describe">
            <br><br>&nbsp;&nbsp;&nbsp;
            <form action="/data" method="POST">
                <label class="btn btn-danger pzt active">
                    <input type="checkbox" name="deletemissing" value="1" data-id="0"> Kayıp Verileri Sil
                </label>
                <label class="btn btn-danger pzt active">
                    <input type="checkbox" name="meanmissing" value="1" data-id="0"> Kayıp Verilere Ortalama Değer Ata
                </label>
                <label class="btn btn-danger pzt active">
                    <input type="checkbox" name="deleteoutlier" value="1" data-id="0">Aykırı Verileri Sil
                </label>
                <label class="btn btn-danger pzt active">
                    <input type="checkbox" name="meanoutlier" value="1" data-id="0"> Aykırı Verileri Baskıla
                </label>
                <div class="clear"></div>
                    <button type="submit" name="datasteptwo" style="margin-top: 70px; width: 100px;" class="btn btn-warning"><b>İşle</b></button>
                    
                   
                    <div class="clear"></div>
                    
            </form> 
            <div class="clear"></div>
            <form action="/data" method="POST">
                <button type="submit" name="datastepthree" style="float: right; margin-top: 0px; width: 100px;" class="btn btn-success"><b>Devam</b></button>
            </form>
            
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="clear"></div>
       
       
        
    </div>
    
   
</div>
<div style="height: 10px;"></div>
{% endblock body %}